.header {
    display: flex;
    height: 100px;
    background-color: green;
    align-items: center;
    justify-content: space-around;
}

.headermenu {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}